* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

.container {
    display: block;
    width: 60%;
    padding: 10px;
    margin: 0 auto;
}

.map {
    display: flex;
    height: 500px;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
}

.share-place{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.select-place {
    padding: 5px;
    width: 40%;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    background-color: #ea2845;
    padding: 10px;
    border: #ea2845;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 30px;
}

.address-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}

.address {
    height: 60px;
    width: 40%;
    resize: none;
    margin-bottom: 20px;
    font-size: 25px;
}

.find-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.disabled {
    opacity: 0.4;
}
