* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #009578;
}

.container {
    display: flex;
    padding: 20px;
}

.cart-list {
    padding: 60px;
    background-color: white;
    width: 50%;
    text-align: center;
}

.cart-enter {
    padding: 60px;
    background-color: white;
    height: 800px;
    width: 50%;
    margin-right: 10px;
    text-align: center;
}

.input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    max-width: 200px;
    border: 2px solid #ea2845;
}

.head {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    padding: 14px 28px;
    background-color: #ea2845;
    color: #fff;
    border: 2px solid #ea2845;
    border-radius: 30px;
    min-width: 230px;
    transition: all .1s ease-in;
    cursor: pointer;
}

.cart-item__dlt-btn {
    background-color: #ea2845;
    color: #fff;
    border: 2px solid #ea2845;
    border-radius: 30px;
    width: 100px;
    min-width: 100px;
    transition: all .1s ease-in;
    cursor: pointer;
}

.btn:hover,
.cart-item__dlt-btn:hover{
    background-color: white;
    color: #ea2845;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    border: 2px solid #ea2845;
    padding: 5px;
    margin-bottom: 10px;
}

.cart-item__text {
    font-size: 20px;
}
